<div class="mat-typography mat-v2-container">
  <h1 id="autocomplete">
    Autocomplete
  </h1>

  <mat-form-field appearance="outline">
    <mat-label>Autocomplete</mat-label>
    <input type="text" matInput [matAutocomplete]="auto">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of ['test', 'test', 'test']" [value]="option">{{option}}</mat-option>
  </mat-autocomplete>

</div>

<div class="mat-typography mat-v2-container">
  <h1 id="checkbox">
    Checkbox
  </h1>
  <mat-checkbox>Checked</mat-checkbox>
</div>

<div class="mat-typography mat-v2-container">
  <h1 id="calender">
    Calender
  </h1>
  <mat-form-field appearance="outline">
    <mat-label>Calender</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</div>

<div class="mat-typography">
  <h1>Demo</h1>
  <h2>Demo</h2>
  <h3>Demo</h3>
  <h4>Demo</h4>
  <h5>Demo</h5>
  <h6>Demo</h6>
</div>

<button mat-button class="mat-v2" color="primary">
  Hello world
</button>

<button mat-button class="mat-v2" color="accent">
  Hello world
</button>

<button mat-raised-button class="mat-v2" color="primary">
  Hello world
</button>

<button mat-raised-button class="mat-v2" color="accent">
  Hello world
</button>
